/Pieces STL/*.CATPart
/Pieces STL/*.pwmb
/Pieces STL/*.CATProduct
/ScanPlaneViewer/Assets/Unity-Logs-Viewer
/ScanPlaneViewer/Assets/TutorialInfo
/ScanPlaneViewer/Assets/Settings
/medias/ScanPlaneMaker_1.mp4
