<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScanPlaneMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScanPlaneMaker.Properties.Settings>
            <setting name="saveFolderPath" serializeAs="String">
                <value>No folder selected</value>
            </setting>
            <setting name="y_range_value" serializeAs="String">
                <value>2.4</value>
            </setting>
            <setting name="x_range_value" serializeAs="String">
                <value>2.4</value>
            </setting>
            <setting name="image_stability_Threshold" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="scan_start_x_value" serializeAs="String">
                <value>50.1</value>
            </setting>
            <setting name="scan_start_y_value" serializeAs="String">
                <value>10.3</value>
            </setting>
            <setting name="scan_end_y_value" serializeAs="String">
                <value>113.6</value>
            </setting>
            <setting name="scan_end_x_value" serializeAs="String">
                <value>67.9</value>
            </setting>
            <setting name="measure_pix" serializeAs="String">
                <value>532</value>
            </setting>
            <setting name="measure_mm" serializeAs="String">
                <value>9</value>
            </setting>
        </ScanPlaneMaker.Properties.Settings>
    </userSettings>
</configuration>